/*

Publisher
    |-> Style Default
        |-> Design Demo


*** TABLE OF CONTENTS:
    =>Colors
    =>General
    =>Shortcodes, Widgets and Section Heading
    =>Listings
    =>Archive Title
    =>Single Templates
    =>Footer
    =>Reviews
    =>bbPress
    =>WooCommerce
    =>Visual Composer
    =>Attachment
*/


/**
 * =>Colors
 **/
.main-bg-color,
.btn,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="button"],
.btn:focus,
.btn:hover,
button:focus,
button:hover,
html input[type="button"]:focus,
html input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="button"]:focus,
input[type="button"]:hover,
.main-menu.menu .sub-menu li.current-menu-item:hover > a:hover,
.main-menu.menu .better-custom-badge,
.widget.widget_nav_menu .menu .better-custom-badge,
.responsive-header .menu-container .resp-menu .better-custom-badge,
.bs-popular-categories .bs-popular-term-item:hover .term-count,
.widget.widget_tag_cloud .tagcloud a:hover,
span.dropcap.dropcap-square,
span.dropcap.dropcap-circle,
.bs-tab-shortcode .nav-tabs>li>a:focus,
.bs-tab-shortcode .nav-tabs>li>a:hover,
.bs-tab-shortcode .nav-tabs>li.active>a,
.better-control-nav li a.better-active,
.better-control-nav li:hover a,
.main-menu.menu > li:hover > a:before,
.main-menu.menu > li.current-menu-parent > a:before,
.main-menu.menu > li.current-menu-item > a:before,
.main-slider .better-control-nav li a.better-active,
.main-slider .better-control-nav li:hover a,
.site-footer.color-scheme-dark .footer-widgets .widget.widget_tag_cloud .tagcloud a:hover,
.site-footer.color-scheme-dark .footer-widgets .widget.widget_nav_menu ul.menu li a:hover,
.entry-terms.via a:hover,
.entry-terms.source a:hover,
.entry-terms.post-tags a:hover,
.comment-respond #cancel-comment-reply-link,
.better-newsticker .heading,
.listing-item-text-1:hover .term-badges.floated .term-badge a,
.term-badges.floated a,
.archive-title .term-badges span.term-badge a:hover,
.post-tp-1-header .term-badges a:hover,
.archive-title .term-badges a:hover,
.listing-item-tb-2:hover .term-badges.floated .term-badge a,
.btn-bs-pagination:hover, .btn-bs-pagination.hover, .btn-bs-pagination.bs-pagination-in-loading,
.bs-slider-dots .bs-slider-active > .bts-bs-dots-btn,
.listing-item-classic:hover a.read-more,
.bs-loading > div,
.pagination.bs-links-pagination a:hover,
.footer-widgets .bs-popular-categories .bs-popular-term-item:hover .term-count,
.footer-widgets .widget .better-control-nav li a:hover,
.footer-widgets .widget .better-control-nav li a.better-active,
.bs-slider-2-item .content-container a.read-more,
.bs-slider-3-item .content-container a.read-more,
.main-menu.menu .sub-menu li.current-menu-item:hover > a,
.main-menu.menu .sub-menu > li:hover > a,
.bs-slider-2-item .term-badges.floated .term-badge a,
.bs-slider-3-item .term-badges.floated .term-badge a,
.listing-item-blog:hover a.read-more,
.bsp-style-1 .bsp-playlist-info,
.bsp-style-2 .bsp-current-item .bsp-video-icon-wrapper,
.back-top,
.site-header .shop-cart-container .cart-handler .cart-count,
.site-header .shop-cart-container .cart-box:after,
.single-attachment-content .return-to:hover .fa,
.listing-item.listing-item-tb-2 .term-badges.floated .term-badge a,
.entry-terms.entry-terms .terms-label{
    background-color:#0762a2 !important;
}
.main-color,
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus,
.widget.widget_nav_menu ul.menu li > a:hover,
.widget.widget_nav_menu .menu .better-custom-badge,
.widget.widget_recent_comments a:hover,
.bs-popular-categories .bs-popular-term-item,
.main-menu.menu .sub-menu li.current-menu-item > a,
.bs-about .about-link a,
.comment-list .comment-footer .comment-reply-link:hover,
.comment-list li.bypostauthor > article > .comment-meta .comment-author a,
.comment-list li.bypostauthor > article > .comment-meta .comment-author,
.comment-list .comment-footer .comment-edit-link:hover,
.comment-respond #cancel-comment-reply-link,
span.dropcap.dropcap-square-outline,
span.dropcap.dropcap-circle-outline,
ul.bs-shortcode-list li:before,
.bs-accordion-shortcode .panel.open .panel-heading a,
.bs-accordion-shortcode .panel .panel-heading a:hover,
a:hover,
.post-meta a:hover,
.site-header .top-menu.menu > li:hover > a,
.site-header .top-menu.menu .sub-menu > li:hover > a,
.mega-menu.mega-type-link-list .mega-links > li > a:hover,
.mega-menu.mega-type-link-list .mega-links > li:hover > a,
.listing-item .post-footer .post-share:hover .share-handler,
.listing-item-classic .title a:hover,
.single-post-content > .post-author .pre-head a:hover,
.entry-content a,
.site-header .search-container.open .search-handler,
.site-header .search-container:hover .search-handler,
.site-header .shop-cart-container.open .cart-handler,
.site-header .shop-cart-container:hover .cart-handler,
.site-footer .copy-2 a:hover,
.site-footer .copy-1 a:hover,
ul.menu.footer-menu li > a:hover,
.responsive-header .menu-container .resp-menu li:hover > a,
.listing-item-thumbnail:hover .title a,
.listing-item-grid:hover .title a,
.listing-item-blog:hover .title a,
.listing-item-classic:hover .title a,
.better-newsticker ul.news-list li a:hover,
.better-newsticker .control-nav span:hover,
.listing-item-text-1:hover .title a,
.post-meta a:hover,
.pagination.bs-numbered-pagination > span,
.pagination.bs-numbered-pagination .wp-pagenavi a:hover,
.pagination.bs-numbered-pagination .page-numbers:hover,
.pagination.bs-numbered-pagination .wp-pagenavi .current,
.pagination.bs-numbered-pagination .current,
.listing-item-text-2:hover .title a,
.section-heading a:hover,
.bs-popular-categories .bs-popular-term-item:hover,
.main-menu.menu > li:hover > a,
.listing-mg-5-item:hover .title,
.listing-item-tall:hover > .title{
    color:#0762a2;
}
.footer-widgets .widget a:hover,
.bs-listing-modern-grid-listing-5 .listing-mg-5-item:hover .title a:hover,
.bs-listing-modern-grid-listing-5 .listing-mg-5-item:hover .title a{
    color:#0762a2 !important;
}
textarea:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="color"]:focus,
input[type="text"]:focus,
.widget.widget_nav_menu .menu .better-custom-badge:after,
.widget.widget_bs-theme-subscribe-newsletter .bs-subscribe-newsletter form .feedburner-email:focus,
.better-gallery .fotorama__thumb-border,
span.dropcap.dropcap-square-outline,
span.dropcap.dropcap-circle-outline,
.bs-tab-shortcode .nav.nav-tabs,
.bs-tab-shortcode .tab-content .tab-pane,
.bs-accordion-shortcode .panel.open .panel-heading+.panel-collapse>.panel-body,
.bs-accordion-shortcode .panel.open,
.comment-respond textarea:focus,
.better-newsticker .control-nav span:hover,
.archive-title .term-badges a:hover,
.listing-item-text-2 .item-inner,
.btn-bs-pagination:hover, .btn-bs-pagination.hover, .btn-bs-pagination.bs-pagination-in-loading,
.bs-slider-2-item .content-container a.read-more,
.bs-slider-3-item .content-container a.read-more,
.pagination.bs-links-pagination a:hover,
.bsp-style-1 li.bsp-current-item .bsp-video-thumbnail,
.bsp-style-2 .bsp-current-item .bsp-video-thumbnail,
.bs-subscribe-newsletter .feedburner-email:focus,
body.active-top-line .main-wrap,
.entry-content blockquote.bs-pullquote{
    border-color:#0762a2;
}
.main-menu.menu .better-custom-badge:after{
    border-top-color:#0762a2;
}
.bsp-style-1 li.bsp-current-item .bsp-video-index::after{
    border-left-color:#0762a2;
}
::selection{
    background:#0762a2;
}
::-moz-selection{
    background:#0762a2;
}
#bbpress-forums li.bbp-forum-info.single-forum-info .bbp-forum-title:before,
#bbpress-forums .bbp-forums-list li:before,
#bbpress-forums p.bbp-topic-meta .freshness_link a,
#bbpress-forums .bbp-forums-list li a{
    color:#0762a2;
}
#bbpress-forums #bbp-search-form #bbp_search_submit,
#bbpress-forums li.bbp-header:before,
#bbpress-forums button.user-submit, .bbp-submit-wrapper button,
#bbpress-forums li.bbp-header:before{
    background-color:#0762a2;
}
.better-gcs-result .gsc-result .gs-title:hover *,
.better-gcs-result .gsc-result .gs-title:hover,
.better-gcs-result .gsc-results .gsc-cursor-box .gsc-cursor-current-page,
.better-gcs-result .gsc-results .gsc-cursor-box .gsc-cursor-page:hover{
    color:#0762a2;
}
.rating-bar span,
.betterstudio-review .verdict .overall{
    background-color: #0762a2;
}
.rating-stars span:before {
    color: #0762a2;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce span.onsale,
.woocommerce #respond input#submit:hover,
.woocommerce a.button.added,
.woocommerce a.button.loading,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
    background-color: #0762a2 !important;
}
.woocommerce  .woocommerce-Reviews .star-rating,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce div.product .woocommerce-product-rating,
.woocommerce ul.products li.product .price,
.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-MyAccount-navigation ul li a:hover{
    color: #0762a2 !important;
}
.post-tp-7-header .post-header-title,
body,
body.boxed{
    background-color:#f7f7f7;
}
.page-title .post-title{
    border-color:#f7f7f7;
}
.site-header .top-menu.menu > li > a,
.topbar .better-newsticker ul.news-list li a,
.topbar .better-newsticker .control-nav span{
    color:#525252;
}
.site-header.full-width .topbar{
    background-color:#ffffff;
}
.site-header.boxed .topbar .topbar-inner{
    background-color:#ffffff; padding-left:15px; padding-right:15px;
}
.site-header.full-width .topbar,
.site-header.boxed .topbar .topbar-inner{
    border-color:#e6e6e6;
}
.topbar .better-social-counter.style-button .social-item .item-icon{
    color:#525252;
}
.topbar .better-social-counter.style-button .social-item .item-icon{
    background:#f0f0f0;
}
.topbar .better-social-counter.style-button .social-item:hover .item-icon{
    background:#dbdbdb;
}
.site-header.header-style-2.boxed .main-menu-wrapper .main-menu-container,
.site-header.header-style-2.full-width .main-menu-wrapper,
.site-header.header-style-2 .better-pinning-block.pinned.main-menu-wrapper .main-menu-container{
    border-bottom-color:#d6d6d6 !important;
}
.site-header.header-style-5.boxed .header-inner,
.site-header.header-style-5.full-width,
.site-header.header-style-5.full-width > .bs-pinning-wrapper > .content-wrap.pinned{
    border-bottom-color:#e0e0e0;
}
.site-header.header-style-6.boxed .header-inner,
.site-header.header-style-6.full-width,
.site-header.header-style-6.full-width > .bs-pinning-wrapper > .content-wrap.pinned{
    border-bottom-color:#e0e0e0;
}
.site-header.header-style-8.boxed .header-inner,
.site-header.header-style-8.full-width,
.site-header.header-style-8.full-width > .bs-pinning-wrapper > .content-wrap.pinned{
    border-bottom-color:#e0e0e0;
}
.site-header.boxed .main-menu-wrapper .main-menu-container,
.site-header.full-width .main-menu-wrapper,
.site-header.full-width.header-style-6,
.site-header.full-width.header-style-5,
.bs-pinning-block.pinned.main-menu-wrapper .main-menu-container,
.site-header.header-style-5 > .content-wrap > .bs-pinning-wrapper > .bs-pinning-block,
.site-header.header-style-6 > .content-wrap > .bs-pinning-wrapper > .bs-pinning-block{
    background-color:#ffffff;
}
.site-header.header-style-6.boxed .header-inner,
.site-header.header-style-5.boxed .header-inner{
    background-color:#ffffff; padding-left: 20px; padding-right: 20px;
}
.site-header.header-style-1,
.site-header.header-style-2,
.site-header.header-style-3,
.site-header.header-style-4,
.site-header.header-style-5 > .bs-pinning-wrapper > .bs-pinning-block,
.site-header.header-style-6,
.site-header.header-style-6 > .content-wrap > .bs-pinning-wrapper > .bs-pinning-block,
.site-header.header-style-7,
.site-header.header-style-8,
.site-header.header-style-8 > .content-wrap > .bs-pinning-wrapper > .bs-pinning-block{
    background-color:#ffffff;
}
ul.menu.footer-menu li > a,
.site-footer .copy-2 a,
.site-footer .copy-2,
.site-footer .copy-1 a,
.site-footer .copy-1{
    color:#616161;
}
ul.menu.footer-menu li > a:hover,
.site-footer .copy-2 a:hover,
.site-footer .copy-1 a:hover{
    color:#303030;
}
.site-footer .copy-footer{
    background-color:#ffffff;
}
.site-footer{
    background-color:#ffffff;
}
.widget .widget-heading > .h-text{
    background-color:#0762a2;
}
.section-heading.multi-tab .main-link.active .h-text,
.section-heading.multi-tab .active > .h-text,
.section-heading .h-text,
.section-heading.multi-tab .main-link:hover .h-text{
    background-color:#0762a2;
}
.section-heading .other-link:hover .h-text{
    background-color:#0762a2 !important;
}
.bs-pretty-tabs-container:hover .bs-pretty-tabs-more.other-link .h-text,
.section-heading .bs-pretty-tabs-more.other-link:hover .h-text.h-text{
    color:#0762a2 !important;
}


/**
 * =>General
 **/
.term-badges.floated {
    left: 0;
}
.rtl .term-badges.floated {
    right: 0;
    left: auto;
}


/**
 * =>Shortcodes, Widgets and Section Heading
 **/
.widget,
.entry-content .better-studio-shortcode,
.bs-shortcode,
.bs-listing {
    margin-bottom: 30px;
    padding: 20px;
    background: #fff;
    border: 1px solid #e6e6e6;
}
.bs-shortcode.bs-heading-shortcode {
    border-bottom: none;
    margin-bottom: 0;
}
.bs-shortcode.bs-heading-shortcode .section-heading{
    margin-bottom: 0;
}
.bs-listing > .bs-shortcode{
    border:none;
    padding: 0;
    background: transparent;
}
.vc_row[data-vc-full-width] .bs-listing:last-child {
    padding: 0;
    background: none;
    border:none;
    margin-bottom: inherit;
}
.vc_row[data-vc-full-width] .bs-listing:last-child {
    margin-bottom: 10px;
}
.widget .widget-heading:after,
.section-heading.multi-tab:after,
.section-heading:after {
    height: 100%;
    top: 0;
    margin-top: 0;
    background: #f3f3f3;
    background: rgba(0, 0, 0, 0.04);
}
.widget .widget-heading > .h-text,
.section-heading .h-text {
    position: relative;
}
.section-heading.multi-tab .main-link .h-text,
.section-heading.multi-tab .h-text {
    background: #fff;
    border: 1px solid #e2e2e2;
    margin-right: 12px;
}
.rtl .section-heading.multi-tab .main-link .h-text,
.rtl .section-heading.multi-tab .h-text {
    margin-left: 12px;
    margin-right: auto;
}
.section-heading.multi-tab .other-link .h-text {
    margin-right: 0;
    margin-left: 12px;
}
.rtl .section-heading.multi-tab .other-link .h-text {
    margin-left: 0;
    margin-right: 12px;
}
.section-heading.multi-tab .main-link:hover .h-text,
.section-heading .main-link.active .h-text,
.section-heading a.active .h-text,
.section-heading a:hover .h-text {
    border-color: transparent !important;
    color: #fff;
}
.widget .widget-heading > .h-text:after,
.section-heading .h-text:after{
    content: '';
    position: absolute;
    height: 110%;
    width: 12px;
    display: inline-block;
    background: #fff;
    right: -13px;
    top: -1px;
}
.rtl .widget .widget-heading > .h-text:after,
.rtl .section-heading .h-text:after {
    left: -13px;
    right: auto;
}
.section-heading .other-link .h-text:after {
    right: initial;
    left: -13px;
}
.rtl .section-heading .other-link .h-text:after {
    left: initial;
    right: -13px;
}
.bs-pretty-tabs .bs-pretty-tabs-more.other-link .h-text:after {
    height: 50%;
    background: transparent;
    right: 0;
    left: initial;
    top: 90%;
    pointer-events: all;
}
.rtl .bs-pretty-tabs .bs-pretty-tabs-more.other-link .h-text:after {
    left: 0;
    right: initial;
}
.bs-pretty-tabs-container .bs-pretty-tabs-elements {
    top: 130%;
}
.bs-pretty-tabs-container .bs-pretty-tabs-elements .other-link .h-text{
    margin: 0 0 1px;
    border: none;
    padding: 1px 10px;
}
.bs-pretty-tabs-container .bs-pretty-tabs-elements .other-link .h-text:after{
    display: none;
}
.section-heading.multi-tab.bs-pretty-tabs .bs-pretty-tabs-more.other-link .h-text:before{
    content: '';
    position: absolute;
    height: 110%;
    width: 12px;
    display: inline-block;
    background: #fff;
    left: -13px;
    top: -1px;
}
.rtl .section-heading.multi-tab.bs-pretty-tabs .bs-pretty-tabs-more.other-link .h-text:before {
    right: -13px;
    left: auto;
}
.widget .bs-shortcode{
    padding: 0;
    border:none;
    background: transparent;
}
.widget.widget_better-ads{
    padding: 0;
    background: transparent;
    border: none;
}
.bs-about .about-title img{
    border-radius: 50%;
}
.widget.widget_bs-subscribe-newsletter {
    background: #fff;
}
.widget.widget_bs-subscribe-newsletter .widget-heading > .h-text {
    border-color: #fff;
}
.bs-popular-categories .bs-popular-terms-list {
    padding: 0;
}
@media (max-width: 880px) {
    .widget,
    .entry-content .better-studio-shortcode,
    .bs-shortcode,
    .bs-listing {
        margin-bottom: 23px;
        padding: 13px;
    }
}


/**
 * =>Listings
 **/
.listing-item-grid-1 .term-badges.floated{
    top: initial;
    bottom: 0;
}
.listing-item-grid-1 .post-edit-link {
    bottom: initial;
    top: 0;
}
.listing-item-classic-2 .listing-inner{
    border:none;
}
.listing-item-grid-1 .post-summary {
    border-bottom: none;
}
.listing.listing-mix-3-1 .row-1{
    margin-bottom: 0;
}
.slider-style-5-container {
    padding-bottom: 20px;
}
.slider-container .listing,
body.search .content-column .listing,
body.archive .content-column .listing{
    padding: 20px;
    background: #fff;
    border: 1px solid #e6e6e6;
}
body.archive .content-column .listing .listing,
body.archive .content-column .listing .listing{
    border: none;
    background: transparent;
    padding: 0;
}
.slider-container.slider-style-6-container .listing,
.slider-container.slider-style-5-container .listing{
    padding-bottom: 2px;
}
.slider-container.slider-style-6-container{
    margin-bottom: 25px;
}
.bs-listing-listing-text-1 .bs-slider-controls,
.bs-listing-modern-grid-listing-2 .bs-slider-controls{
    height: 27px;
    margin-top: -10px;
}
.bs-listing-modern-grid-listing-3{
    padding-bottom: 5px;
}
.listing.listing-mix-3-2 .row-1 {
    margin-bottom: 0;
}
.listing-item-blog-5 > .title {
    margin-top: 6px;
}
.bs-slider-2-item .content-container a.read-more,
.bs-slider-3-item .content-container a.read-more{
    color: #fff;
}
.bs-slider-2-item .content-container a.read-more:hover,
.bs-slider-3-item .content-container a.read-more:hover{
    opacity: 0.8;
}
@media (max-width: 880px) {
    .slider-style-5-container {
        padding-bottom: 13px;
    }
    .slider-container .listing,
    body.search .content-column .listing,
    body.archive .content-column .listing{
        padding: 13px;
    }
    .slider-container.slider-style-6-container{
        margin-bottom: 18px;
    }
}

/**
 * =>Archive Title
 **/
.archive-title {
    border: 1px solid #e0e0e0;
    background: #fff;
    padding: 20px 20px 13px;
}
.archive-title .pre-title span {
    border-right: 10px solid #fff;
}
.rtl .archive-title .pre-title span {
    border-left: 10px solid #fff;
    border-right: none;
}
body.search .archive-title .pre-title:after,
body.archive.category .archive-title .pre-title:after,
.archive-title .pre-title:after {
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5 !important;
}
@media (max-width: 880px) {
    .archive-title {
        padding: 13px 13px 13px;
    }
}


/**
 * =>Single Templates
 **/
.comments-wrap,
.comment-respond,
.post-related,
.single-container > .post-author,
.author-profile,
.single-page-simple-content,
.post-template-13 .single-container > .post,
.post-template-12 .single-container > .post,
.post-template-11 .single-container > .post,
.post-template-10 .single-container > .post,
.post-template-9 .single-container > .post,
.post-template-8 .single-container > .post,
.post-template-7 .single-container > .post,
.post-template-6 .single-container > .post,
.post-template-5 .single-container > .post,
.post-template-4 .single-container > .post,
.post-template-3 .single-container > .post,
.post-template-2 .single-container > .post,
.post-template-1 .single-container > .post{
    padding: 25px 20px 20px;
    background: #fff;
    border: 1px solid #e6e6e6;
}
.post-template-13 .single-featured{
    margin-left: -20px;
    margin-right: -20px;
}
.post-template-6 .post-header-inner {
    padding: 20px;
}
.entry-terms.source .terms-label,
.entry-terms.via .terms-label,
.entry-terms.post-tags .terms-label{
    border-color: transparent;
}
.post-related + .comments-template {
    margin-top: 20px;
}
@media (max-width: 880px) {
    .comments-wrap,
    .comment-respond,
    .post-related,
    .single-container > .post-author,
    .author-profile,
    .single-page-simple-content,
    .post-template-13 .single-container > .post,
    .post-template-12 .single-container > .post,
    .post-template-11 .single-container > .post,
    .post-template-10 .single-container > .post,
    .post-template-9 .single-container > .post,
    .post-template-8 .single-container > .post,
    .post-template-7 .single-container > .post,
    .post-template-6 .single-container > .post,
    .post-template-5 .single-container > .post,
    .post-template-4 .single-container > .post,
    .post-template-3 .single-container > .post,
    .post-template-2 .single-container > .post,
    .post-template-1 .single-container > .post{
        padding: 18px 13px 13px;
    }
    .post-template-13 .single-featured{
        margin-left: 0;
        margin-right: 0;
    }
    .post-related + .comments-template {
        margin-top: 13px;
    }
}



/**
 * =>Footer
 **/
.site-footer .copy-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.footer-instagram .bs-instagram-photo:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.09);
}


/**
 * =>Reviews
 **/
.betterstudio-review {
    margin-bottom: 20px;
    border: 1px solid #dedede;
    border-left: none;
    border-right: none;
    margin-left: -20px;
    margin-right: -20px;
}
.entry-content .betterstudio-review:last-child{
    margin-bottom: -20px;
    border-bottom: none;
}
@media (max-width: 880px) {
    .betterstudio-review {
        margin-bottom: 13px;
        margin-left: -13px;
        margin-right: -13px;
    }
    .entry-content .betterstudio-review:last-child{
        margin-bottom: -13px;
    }
}


/**
 * =>bbPress
 **/
#bbpress-forums > ul{
    background: #fff;
    border: 1px solid #dedede;
}
#bbpress-forums li.bbp-header {
    border-bottom: 1px solid #e6e6e6;
    background: #f5f5f5;
}
#bbpress-forums .category-forum:first-child li.bbp-header {
    border-top: none;
}
.section-heading.forum-section-heading{
    margin: 0 0 20px;
    background: #fff;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
div.bbp-template-notice, div.indicator-hint {
    background-color: #fff;
}
#bbpress-forums fieldset.bbp-form {
    border: 1px solid #dedede;
    padding: 20px;
    margin-bottom: 10px;
    background: #fff;
}
#bbpress-forums fieldset.bbp-form legend{
    width: 106%;
    padding: 10px 20px ;
    font-size: 16px;
    color: #333;
    border: 1px solid #dedede;
    background: #fff;
    margin: 0 -21px;
}
#bbpress-forums li.bbp-body ul.topic:last-child,
#bbpress-forums li.bbp-body ul.topic {
    padding: 15px 15px;
}
li.bbp-body div.hentry {
    padding: 15px 15px 0 !important;
}
#bbpress-forums div.bbp-reply-content {
    padding: 0;
}
#bbpress-forums div.bbp-reply-author img.avatar {
    margin: 0 auto 12px;
}
#bbpress-forums .bbp-reply-ip,
#bbpress-forums div.bbp-forum-author .bbp-author-role, #bbpress-forums div.bbp-topic-author .bbp-author-role, #bbpress-forums div.bbp-reply-author .bbp-author-role{
    text-align: center;
}
#bbpress-forums div.bbp-forum-author, #bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
    text-align: left;
}
.rtl #bbpress-forums div.bbp-forum-author, #bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
    text-align: right;
}
div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header, li.bbp-body div.hentry {
    padding: 8px 15px;
}
div.bbp-reply-header:last-child{
    border-bottom: none;
}
.bbp-pagination {
    margin-bottom: 20px;
    padding: 7px 15px;
    border: 1px solid #dedede;
    background: #fff;
}
#bbpress-forums #bbp-search-form {
    margin-bottom: 25px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dedede;
    position: relative;
}
#bbpress-forums li.bbp-forum-info .bbp-forum-title {
    margin-bottom: 5px;
}
#bbpress-forums .bbp-forums-list {
    margin-top: 7px;
}
.single-topic-content > .section-heading.forum-section-heading,
.single-forum-content > .section-heading.forum-section-heading{
    margin: 0 0 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #dedede;
}
.single-topic-content > .section-heading.forum-section-heading:after,
.single-forum-content > .section-heading.forum-section-heading:after{
    display: none;
}
#bbpress-forums .forums.bbp-replies li.bbp-header{
    border-top:none;
}
#bbpress-forums li.bbp-body ul.forum:last-child {
    margin-bottom: 10px;
}
@media (max-width: 880px) {
    #bbpress-forums fieldset.bbp-form {
        padding: 13px;
        margin-bottom: 7px;
    }
    #bbpress-forums #bbp-search-form {
        margin-bottom: 18px;
        padding: 13px;
    }
    .single-topic-content > .section-heading.forum-section-heading,
    .single-forum-content > .section-heading.forum-section-heading{
        margin: 0 0 13px;
        padding: 13px;
    }
}


/**
 * =>WooCommerce
 **/
.wc-loop-heading{
    padding: 20px 20px 7px;
    background: #fff;
    border: 1px solid #DEDED9;
    border-bottom: none;
}
.wc-loop-heading + .wc-products-list{
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
}
.wc-products-list{
    padding: 20px 20px 0;
    border: 1px solid #dedede;
    background: #fff;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin-bottom: 25px;
}
.wc-products-list + .wc-pagination{
    margin-top: 20px;
}
.wc-product-header{
    padding: 20px 20px 0;
    background: #fff;
    border:1px solid #dedede;
}
.woocommerce div.product div.images,
.woocommerce div.product div.summary {
    margin-bottom: 20px;
}
.woocommerce div.product div.images div.thumbnails {
    padding-top: 0;
}
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
    margin-bottom: 0;
    margin-top: 15px;
}
.woocommerce #respond input#submit, .woocommerce a.button {
    color: #fff;
}
.woocommerce-page div.product .woocommerce-tabs{
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #dedede;
    background: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    padding: 4px 15px 0;
    margin: -21px -20px 20px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before{
    display: none!important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:after {
    display: block !important;
    z-index: 1;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text{
    border-radius: 0;
}
.woocommerce-page div.product .related.products{
    margin-top: 30px;
    padding: 20px 20px 0;
    border: 1px solid #dedede;
    background: #fff;
}
.woocommerce-page div.product .related.products .wc-products-list{
    padding: 0;
    border: none;
}
.woocommerce-page div.product .related.products .wc-products-list .products{
    margin-bottom: 0;
}
.woocommerce div.product .woocommerce-tabs .panel{
    margin-bottom: 0;
    border-bottom: none;
    box-shadow: none;
    padding-bottom: 0;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar{
    background: #fff;
}
.woocommerce-MyAccount-navigation,
.wc-account-content-wrap,
.order-customer-adress-wrap,
.order-customer-detail,
.order-detail-wrap,
.woocommerce-checkout-review-order-wrap,
.woocommerce-shipping-fields,
.woocommerce-billing-fields,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .cross-sells,
.wc-cart{
    padding: 20px 20px 0;
    border: 1px solid #dedede;
    background: #fff;
}
.wc-account-content-wrap{
    margin-bottom: 30px;
}
.woocommerce-billing-fields,
.woocommerce-shipping-fields{
    padding-bottom: 20px;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .cross-sells{
    margin-top: 30px;
}
.woocommerce .cart-collaterals .cross-sells  .wc-products-list{
    padding: 0;
    border: none;
}
.woocommerce .cart-collaterals .cross-sells  .wc-products-list .products{
    margin-bottom: 0;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message{
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    background: #fff;
    margin-bottom: 20px !important;
}
.woocommerce-checkout-review-order-wrap{
    margin-top: 30px;
    padding-bottom: 20px;
}
.woocommerce form.woocommerce-ResetPassword,
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: 1px solid #dedede;
    background: #fff;
    border-radius: 0;
    margin: 0 0 30px;
}
.woocommerce form.woocommerce-ResetPassword{
    padding: 20px;
}
.woocommerce form.checkout_coupon p{
    margin-bottom: 0;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #f5f5f5;
    border-radius: 0;
    border: 1px solid #dedede;
}
.order-thanks-wrap{
    padding: 25px;
    border: 1px solid #dedede;
    background: #fff;
    margin-bottom: 30px;
}
.woocommerce .order-thanks-wrap .woocommerce-thankyou-order-received:last-child,
.woocommerce .order-thanks-wrap .order_details:last-child{
    margin-bottom: 0;
}
.order-customer-detail,
.order-detail-wrap{
    margin-bottom: 30px;
}
.section-heading.woocommerce-Address-title.title:after{
    display: block;
}
.woocommerce-account .addresses .title .edit {
    margin-top: 12px;
    font-size: 14px;
}
.wc-tabs.section-heading:after{
    height: 59%;
    top: 20px;
    left: 20px;
    right: 50px;
    width: auto;
}
.rtl .wc-tabs.section-heading:after {
    right: 20px;
    left: 50px;
}
.wc-tabs.section-heading.multi-tab .other-link .h-text{
    background: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 20px 20px 0;
    margin: -21px -20px 20px;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    display: inline-block;
    z-index: 2;
    position: relative;
}
.woocommerce-account .addresses .title .edit {
    margin-top: 4px;
    margin-right: 5px;
    font-size: 14px;
    position: relative;
    z-index: 2;
}
.rtl .woocommerce-account .addresses .title .edit {
    margin-left: 5px;
    margin-right: auto;
}
.woocommerce-MyAccount-navigation .section-heading{
    margin-bottom: 13px;
}
.bs-listing .wc-products-list{
    padding: 0;
    border: none;
    background: transparent;
}
.bs-shortcode.bs-heading-shortcode + .woocommerce > .wc-products-list{
    border-top: none;
    padding-top: 0;
}
.woocommerce + .woocommerce,
.woocommerce + .bs-shortcode{
    margin-top: 30px;
}
.bs-listing.bs-listing-products .bs-slider-controls,
.bs-listing.bs-listing-products .bs-pagination {
    margin-top: -20px;
}
@media (max-width: 880px) {
    .wc-loop-heading{
        padding: 13px 13px 13px;
    }
    .wc-products-list{
        padding: 13px 13px 0;
    }
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        margin-bottom: 18px;
    }
    .wc-products-list + .wc-pagination{
        margin-top: 13px;
    }
    .wc-product-header{
        padding: 13px 13px 0;
    }
    .woocommerce div.product div.images,
    .woocommerce div.product div.summary {
        margin-bottom: 14px;
    }
    .woocommerce-page div.product .woocommerce-tabs{
        margin-top: 13px;
        padding: 13px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs{
        margin: -14px -14px 13px;
    }
    .woocommerce + .woocommerce,
    .woocommerce + .bs-shortcode{
        margin-top: 14px;
    }
    .bs-listing.bs-listing-products .bs-slider-controls,
    .bs-listing.bs-listing-products .bs-pagination {
        margin-top: -13px;
    }
}


/**
 * =>Visual Composer
 **/
.wpb_single_image,
.wpb_images_carousel > .wpb_wrapper > .vc_images_carousel{
    border: 1px solid #dedede;
    background: #fff;
    padding: 20px;
}
.vc_images_carousel .vc_carousel-control .icon-next, .vc_images_carousel .vc_carousel-control .icon-prev {
    margin-top: -25px;
}
.vc_images_carousel .vc_carousel-control.vc_right.vc_right {
    right: 25px;
}
.rtl .vc_images_carousel .vc_carousel-control.vc_right.vc_right {
    left: 25px;
    right: auto;
}
.vc_images_carousel .vc_carousel-control.vc_left.vc_left {
    left: 25px;
}
.rtl .vc_images_carousel .vc_carousel-control.vc_left.vc_left {
    right: 25px;
    left: auto;
}
.vc_images_carousel .vc_carousel-indicators.vc_carousel-indicators {
    bottom: 35px;
}
@media (max-width: 880px) {
    .wpb_single_image,
    .wpb_images_carousel > .wpb_wrapper > .vc_images_carousel{
        padding: 13px;
    }
    .vc_images_carousel .vc_carousel-control .icon-next, .vc_images_carousel .vc_carousel-control .icon-prev {
        margin-top: -18px;
    }
    .vc_images_carousel .vc_carousel-control.vc_right.vc_right {
        right: 18px;
    }
    .rtl .vc_images_carousel .vc_carousel-control.vc_right.vc_right {
        right: auto;
        left: 18px;
    }
    .vc_images_carousel .vc_carousel-control.vc_left.vc_left {
        left: 18px;
    }
    .rtl .vc_images_carousel .vc_carousel-control.vc_left.vc_left {
        left: auto;
        right: 18px;
    }
    .vc_images_carousel .vc_carousel-indicators.vc_carousel-indicators {
        bottom: 28px;
    }
}

/**
 * =>Attachment
 **/
.single-attachment-content{
    padding: 20px 20px 10px;
    border: 1px solid #dedede;
    background: #fff;
}
.single-attachment-content .parent-images{
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
}
@media (max-width: 880px) {
    .single-attachment-content{
        padding: 13px 13px 6px;
    }
    .single-attachment-content .parent-images{
        padding-top: 13px;
    }
}
