/*

Publisher
    |-> Style Default
        |-> Tech Demo


*** TABLE OF CONTENTS:
    =>Colors
    =>General Styles
    =>Headers
    =>Section and Widget
    =>Blocks
    =>Post Templates
    =>Footer
    =>Archive Title
    =>Gallery Slider
    =>bbPress
    =>WooCommerce
    =>Visual Composer
    =>Attachment

*/


/**
 * =>Colors
 **/
.main-bg-color,
.btn,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="button"],
.btn:focus,
.btn:hover,
button:focus,
button:hover,
html input[type="button"]:focus,
html input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="button"]:focus,
input[type="button"]:hover,
.main-menu.menu .sub-menu li.current-menu-item:hover > a:hover,
.main-menu.menu .better-custom-badge,
.widget.widget_nav_menu .menu .better-custom-badge,
.responsive-header .menu-container .resp-menu .better-custom-badge,
.bs-popular-categories .bs-popular-term-item:hover .term-count,
.widget.widget_tag_cloud .tagcloud a:hover,
span.dropcap.dropcap-square,
span.dropcap.dropcap-circle,
.bs-tab-shortcode .nav-tabs>li>a:focus,
.bs-tab-shortcode .nav-tabs>li>a:hover,
.bs-tab-shortcode .nav-tabs>li.active>a,
.better-control-nav li a.better-active,
.better-control-nav li:hover a,
.main-menu.menu > li:hover > a:before,
.main-menu.menu > li.current-menu-parent > a:before,
.main-menu.menu > li.current-menu-item > a:before,
.main-slider .better-control-nav li a.better-active,
.main-slider .better-control-nav li:hover a,
.site-footer.color-scheme-dark .footer-widgets .widget.widget_tag_cloud .tagcloud a:hover,
.site-footer.color-scheme-dark .footer-widgets .widget.widget_nav_menu ul.menu li a:hover,
.entry-terms.via a:hover,
.entry-terms.source a:hover,
.entry-terms.post-tags a:hover,
.comment-respond #cancel-comment-reply-link,
.better-newsticker .heading,
.listing-item-text-1:hover .term-badges.floated .term-badge a,
.term-badges.floated a,
.archive-title .term-badges span.term-badge a:hover,
.post-tp-1-header .term-badges a:hover,
.archive-title .term-badges a:hover,
.listing-item-tb-2:hover .term-badges.floated .term-badge a,
.btn-bs-pagination:hover, .btn-bs-pagination.hover, .btn-bs-pagination.bs-pagination-in-loading,
.bs-slider-dots .bs-slider-active > .bts-bs-dots-btn,
.listing-item-classic:hover a.read-more,
.bs-loading > div,
.pagination.bs-links-pagination a:hover,
.footer-widgets .bs-popular-categories .bs-popular-term-item:hover .term-count,
.footer-widgets .widget .better-control-nav li a:hover,
.footer-widgets .widget .better-control-nav li a.better-active,
.bs-slider-2-item .content-container a.read-more:hover,
.bs-slider-3-item .content-container a.read-more:hover,
.main-menu.menu .sub-menu li.current-menu-item:hover > a,
.main-menu.menu .sub-menu > li:hover > a,
.bs-slider-2-item .term-badges.floated .term-badge a,
.bs-slider-3-item .term-badges.floated .term-badge a,
.listing-item-blog:hover a.read-more,
.bsp-style-1 .bsp-playlist-info,
.bsp-style-2 .bsp-current-item .bsp-video-icon-wrapper,
.back-top,
.site-header .shop-cart-container .cart-handler .cart-count,
.site-header .shop-cart-container .cart-box:after,
.single-attachment-content .return-to:hover .fa,
.section-heading.multi-tab:after,
.topbar .topbar-date{
    background-color:#0a9e01 !important;
}
.main-color,
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus,
.widget.widget_nav_menu ul.menu li > a:hover,
.widget.widget_nav_menu .menu .better-custom-badge,
.widget.widget_recent_comments a:hover,
.bs-popular-categories .bs-popular-term-item,
.main-menu.menu .sub-menu li.current-menu-item > a,
.bs-about .about-link a,
.comment-list .comment-footer .comment-reply-link:hover,
.comment-list li.bypostauthor > article > .comment-meta .comment-author a,
.comment-list li.bypostauthor > article > .comment-meta .comment-author,
.comment-list .comment-footer .comment-edit-link:hover,
.comment-respond #cancel-comment-reply-link,
span.dropcap.dropcap-square-outline,
span.dropcap.dropcap-circle-outline,
ul.bs-shortcode-list li:before,
.bs-accordion-shortcode .panel.open .panel-heading a,
.bs-accordion-shortcode .panel .panel-heading a:hover,
a:hover,
.post-meta a:hover,
.site-header .top-menu.menu > li:hover > a,
.site-header .top-menu.menu .sub-menu > li:hover > a,
.mega-menu.mega-type-link-list .mega-links > li > a:hover,
.mega-menu.mega-type-link-list .mega-links > li:hover > a,
.listing-item .post-footer .post-share:hover .share-handler,
.listing-item-classic .title a:hover,
.single-post-content > .post-author .pre-head a:hover,
.entry-content a,
.site-header .search-container.open .search-handler,
.site-header .search-container:hover .search-handler,
.site-header .shop-cart-container.open .cart-handler,
.site-header .shop-cart-container:hover .cart-handler,
.site-footer .copy-2 a:hover,
.site-footer .copy-1 a:hover,
ul.menu.footer-menu li > a:hover,
.responsive-header .menu-container .resp-menu li:hover > a,
.listing-item-thumbnail:hover .title a,
.listing-item-grid:hover .title a,
.listing-item-blog:hover .title a,
.listing-item-classic:hover .title a,
.better-newsticker ul.news-list li a:hover,
.better-newsticker .control-nav span:hover,
.listing-item-text-1:hover .title a,
.post-meta a:hover,
.pagination.bs-numbered-pagination > span,
.pagination.bs-numbered-pagination .wp-pagenavi a:hover,
.pagination.bs-numbered-pagination .page-numbers:hover,
.pagination.bs-numbered-pagination .wp-pagenavi .current,
.pagination.bs-numbered-pagination .current,
.listing-item-text-2:hover .title a,
.section-heading a:hover,
.bs-popular-categories .bs-popular-term-item:hover,
.main-menu.menu > li:hover > a,
.listing-mg-5-item:hover .title,
.listing-item-tall:hover > .title,
.section-heading.multi-tab .main-link:hover .h-text{
    color:#0a9e01;
}
.footer-widgets .widget a:hover,
.bs-listing-modern-grid-listing-5 .listing-mg-5-item:hover .title a:hover,
.bs-listing-modern-grid-listing-5 .listing-mg-5-item:hover .title a,
.section-heading .other-link:hover .h-text,
.section-heading.multi-tab .active .h-text,
.bs-pretty-tabs-container:hover .bs-pretty-tabs-more.other-link .h-text,
.section-heading .bs-pretty-tabs-more.other-link:hover .h-text.h-text{
    color:#0a9e01 !important;
}
textarea:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="color"]:focus,
input[type="text"]:focus,
.widget.widget_nav_menu .menu .better-custom-badge:after,
.widget.widget_bs-theme-subscribe-newsletter .bs-subscribe-newsletter form .feedburner-email:focus,
.better-gallery .fotorama__thumb-border,
span.dropcap.dropcap-square-outline,
span.dropcap.dropcap-circle-outline,
.bs-tab-shortcode .nav.nav-tabs,
.bs-tab-shortcode .tab-content .tab-pane,
.bs-accordion-shortcode .panel.open .panel-heading+.panel-collapse>.panel-body,
.bs-accordion-shortcode .panel.open,
.comment-respond textarea:focus,
.better-newsticker .control-nav span:hover,
.archive-title .term-badges a:hover,
.listing-item-text-2 .item-inner,
.btn-bs-pagination:hover, .btn-bs-pagination.hover, .btn-bs-pagination.bs-pagination-in-loading,
.bs-slider-2-item .content-container a.read-more,
.bs-slider-3-item .content-container a.read-more,
.pagination.bs-links-pagination a:hover,
.bsp-style-1 li.bsp-current-item .bsp-video-thumbnail,
.bsp-style-2 .bsp-current-item .bsp-video-thumbnail,
.bs-subscribe-newsletter .feedburner-email:focus,
body.active-top-line .main-wrap,
.entry-content blockquote.bs-pullquote-left{
    border-color:#0a9e01;
}
.main-menu.menu .better-custom-badge:after{
    border-top-color:#0a9e01;
}
.bsp-style-1 li.bsp-current-item .bsp-video-index::after{
    border-left-color:#0a9e01;
}
::selection{
    background:#0a9e01;
}
::-moz-selection{
    background:#0a9e01;
}
#bbpress-forums li.bbp-forum-info.single-forum-info .bbp-forum-title:before,
#bbpress-forums .bbp-forums-list li:before,
#bbpress-forums p.bbp-topic-meta .freshness_link a,
#bbpress-forums .bbp-forums-list li a{
    color:#0a9e01;
}
#bbpress-forums #bbp-search-form #bbp_search_submit,
#bbpress-forums li.bbp-header:before,
#bbpress-forums button.user-submit, .bbp-submit-wrapper button,
#bbpress-forums li.bbp-header:before{
    background-color:#0a9e01;
}
.better-gcs-result .gsc-result .gs-title:hover *,
.better-gcs-result .gsc-result .gs-title:hover,
.better-gcs-result .gsc-results .gsc-cursor-box .gsc-cursor-current-page,
.better-gcs-result .gsc-results .gsc-cursor-box .gsc-cursor-page:hover{
    color:#0a9e01;
}
.rating-bar span,
.betterstudio-review .verdict .overall{
    background-color: #0a9e01;
}
.rating-stars span:before {
    color: #0a9e01;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce span.onsale,
.woocommerce #respond input#submit:hover,
.woocommerce a.button.added,
.woocommerce a.button.loading,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
    background-color: #0a9e01 !important;
}
.woocommerce  .woocommerce-Reviews .star-rating,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce div.product .woocommerce-product-rating,
.woocommerce ul.products li.product .price,
.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-MyAccount-navigation ul li a:hover{
    color: #0a9e01 !important;
}
.header-style-1.full-width .bs-pinning-block.pinned.main-menu-wrapper,
.header-style-1.boxed .bs-pinning-block.pinned .main-menu-container,
.header-style-2.full-width .bs-pinning-block.pinned.main-menu-wrapper,
.header-style-2.boxed .bs-pinning-block.pinned .main-menu-container,
.header-style-3.full-width .bs-pinning-block.pinned.main-menu-wrapper,
.header-style-3.boxed .bs-pinning-block.pinned .main-menu-container,
.header-style-4.full-width .bs-pinning-block.pinned.main-menu-wrapper,
.header-style-4.boxed .bs-pinning-block.pinned .main-menu-container,
.header-style-5.full-width .bspw-header-style-5 .bs-pinning-block.pinned,
.header-style-5.boxed .bspw-header-style-5 .bs-pinning-block.pinned .header-inner,
.header-style-6.full-width .bspw-header-style-6 .bs-pinning-block.pinned,
.header-style-6.boxed .bspw-header-style-6 .bs-pinning-block.pinned .header-inner,
.header-style-7.full-width .bs-pinning-block.pinned.main-menu-wrapper,
.header-style-7.boxed .bs-pinning-block.pinned .main-menu-container,
.header-style-8.full-width .bspw-header-style-8 .bs-pinning-block.pinned,
.header-style-8.boxed .bspw-header-style-8 .bs-pinning-block.pinned .header-inner{
    border-top:3px solid #0a9e01;
}
body,
body.boxed,
.page-layout-2-col-right .post-tp-7-header .post-header-title{
    background-color:#f7f7f7;
}
.site-header.full-width .topbar{
    background-color:#ffffff;
}
.site-header.boxed .topbar .topbar-inner{
    background-color:#ffffff; padding-left:15px; padding-right:15px;
}
.site-header.full-width .topbar,
.site-header.boxed .topbar .topbar-inner{
    border-color:#e6e6e6;
}
.topbar .better-social-counter.style-button .social-item:hover .item-icon{
    color:#0a9e01;
}
.site-header.header-style-1,
.site-header.header-style-2,
.site-header.header-style-3,
.site-header.header-style-4,
.site-header.header-style-5.full-width,
.site-header.header-style-5.boxed > .content-wrap > .container,
.site-header.header-style-5.boxed > .bs-pinning-wrapper > .bs-pinning-block,
.site-header.header-style-6,
.site-header.header-style-6 > .content-wrap > .bs-pinning-wrapper > .bs-pinning-block,
.site-header.header-style-7,
.site-header.header-style-8,
.site-header.header-style-8 > .content-wrap > .bs-pinning-wrapper > .bs-pinning-block{
    background-color:#ffffff;
}
ul.menu.footer-menu li > a,
.site-footer .copy-2 a,
.site-footer .copy-2,
.site-footer .copy-1 a,
.site-footer .copy-1{
    color:#282e28;
}
.site-footer .copy-footer{
    background-color:#ffffff;
}
.site-footer .footer-social-icons{
    background-color:#ffffff;
}
.site-footer{
    background-color:#ffffff;
}
.widget .widget-heading > .h-text{
    color:#444444;
}
.section-heading .h-text{
    color:#444444;
}


/**
 * =>General style
 **/
a, a:focus, a:hover{
    text-decoration: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
body.active-top-line .main-wrap {
    border-top-width: 4px;
}
.term-badges.floated {
    left: 0;
}
.rtl .term-badges.floated {
    right: 0;
    left: auto;
}

/**
 * =>Headers
 **/
.main-menu > li > a {
    line-height: 47px;
}
.site-header.header-style-8.boxed .header-inner,
.site-header.header-style-8.full-width,
.site-header.boxed.header-style-7 .main-menu-wrapper .main-menu-container,
.site-header.full-width.header-style-7 .main-menu-wrapper,
.site-header.header-style-6.boxed .header-inner,
.site-header.header-style-6.full-width,
.site-header.header-style-5.boxed .header-inner,
.site-header.header-style-5.full-width,
.site-header.boxed.header-style-4 .main-menu-wrapper .main-menu-container,
.site-header.full-width.header-style-4 .main-menu-wrapper,
.site-header.boxed.header-style-3 .main-menu-wrapper .main-menu-container,
.site-header.full-width.header-style-3 .main-menu-wrapper {
    border-bottom-color: #dedede;
}
.site-header.header-style-7 ,
.site-header.header-style-4 ,
.site-header.header-style-3 {
    border-bottom: 1px solid #dedede;
}
.main-menu.menu > li .sub-menu,
.menu .mega-menu{
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.15);
    text-align: left;
    border: 1px solid #d8d8d8;
    border-top: none;
}
.rtl .main-menu.menu > li .sub-menu,
.rtl .menu .mega-menu {
    text-align: right;
}
.site-header.header-style-3 .header-inner {
    padding: 22px 0;
}
.site-header .search-container .search-handler {
    line-height: 25px;
}


/**
 * =>Section and Widget
 **/
.section-heading .h-text {
    background: transparent;
    padding: 4px 0;
}
.section-heading:after{
    top: -4px;
    height: 4px;
}
.section-heading:before{
    content: '';
    display: inline-block;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.08);
}
.rtl .section-heading:before {
    right: 0;
    left: auto;
}
.section-heading.multi-tab .main-link .h-text,
.section-heading .other-link .h-text,
.section-heading.multi-tab .main-link.active .h-text,
.section-heading .active > .h-text{
    background: transparent;
}
.section-heading .other-link .h-text {
    margin-left: 18px;
    font-size: 85%;
}
.rtl .section-heading .other-link .h-text {
    margin-right: 18px;
    margin-left: auto;
}
.widget .widget-heading,
.section-heading {
    padding: 4px 15px 0;
    margin: -21px -20px 20px;
}
.section-heading.multi-tab:after,
.section-heading:after,
.widget .widget-heading:after {
    top: 0;
    left: -1px;
    right: -1px;
    height: 4px;
    width: auto;
}
.widget .widget-heading > .h-text{
    background: transparent;
    padding: 4px 0;
}
.widget .widget-heading:before{
    content: '';
    display: inline-block;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.07);
}
.rtl .widget .widget-heading:before {
    right: 0;
    left: auto;
}
.section-heading .other-link .h-text{
    font-size: 80%;
}
.section-heading.multi-tab .main-link.active .h-text,
.section-heading .active > .h-text {
    color: #444;
}
.section-heading.multi-tab .main-link:hover .h-text,
.section-heading.multi-tab .main-link.active .h-text,
.section-heading .active > .h-text,
.section-heading .other-link:hover .h-text{
    background-color: transparent;
}
.section-heading.multi-tab .main-link .h-text,
.section-heading .other-link .h-text{
    border: none;
}
.bs-pretty-tabs.bs-pretty-tabs-initialized .bs-pretty-tabs-container:hover .bs-pretty-tabs-more.other-link .h-text:after{
    display: none;
}
.bs-pretty-tabs-container .bs-pretty-tabs-elements .h-text {
    margin: 0;
    line-height: 20px;
}
.bs-pretty-tabs-container .bs-pretty-tabs-elements {
    right: -15px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-right: none;
}
.rtl .bs-pretty-tabs-container .bs-pretty-tabs-elements {
    left: -15px;
    border-left: none;
    right: auto;
    border-right: none;
}
.widget,
.slider-container .listing,
body.search .content-column .listing,
body.archive .content-column .listing{
    padding: 20px;
    background: #fff;
    border: 1px solid #dedede;
}
body.search .content-column .listing .listing,
body.archive .content-column .listing .listing{
    border: none;
    background: transparent;
    padding: 0;
}
.slider-container.slider-style-6-container .listing,
.slider-container.slider-style-5-container .listing{
    padding-bottom: 2px;
}
.slider-container.slider-style-6-container{
    margin-bottom: 25px;
}
.widget .bs-shortcode{
    padding: 0;
    border:none;
    background: transparent;
}
.widget.widget_better-ads{
    padding: 0;
    background: transparent;
    border: none;
}
@media (max-width: 880px) {
    .widget .widget-heading,
    .section-heading {
        margin: -13px -13px 15px;
    }
    .widget,
    .slider-container .listing,
    body.search .content-column .listing,
    body.archive .content-column .listing {
        padding: 13px;
    }
    .slider-container.slider-style-6-container{
        margin-bottom: 20px;
    }
}


/**
 * =>Blocks
 **/
.entry-content .better-studio-shortcode,
.bs-shortcode,
.bs-listing {
    margin-bottom: 30px;
    padding: 20px;
    background: #fff;
    border: 1px solid #dedede;
}
.bs-listing > .bs-shortcode{
    border:none;
    padding: 0;
    background: transparent;
}
.bs-shortcode.bs-heading-shortcode {
    border-bottom: none;
    margin-bottom: 0;
}
.bs-shortcode.bs-heading-shortcode .section-heading{
    margin-bottom: 0;
}
.vc_row[data-vc-full-width] .bs-listing{
    padding: 0;
    background: none;
    border:none;
}
.vc_row[data-vc-full-width] .bs-listing:last-child {
    margin-bottom: 10px;
}
.listing-item-tb-2 .term-badges.floated,
.listing-item-grid-1 .term-badges.floated{
    top: initial;
    bottom: 0;
}
.listing-item-tb-2 .post-edit-link,
.listing-item-grid-1 .post-edit-link {
    bottom: initial;
    top: 0;
}
.listing-item-tb-2 .term-badges.floated .term-badge a{
    font-size: 83%;
}
.better-studio-shortcode,
.betteradscontainer {
    margin-bottom: 40px;
}
.listing-mix-6 .listing-item-text {
    margin-bottom: 18px;
}
.bs-slider-2-item .content-container,
.bs-slider-3-item .content-container{
    background: rgba(255, 255, 255, 0.93);
}
.post-related + .comments-template{
    margin-top: 30px;
}
.listing-item-classic-2 .listing-inner{
    border: none;
}
.bs-listing-modern-grid-listing-3{
    padding-bottom: 5px;
}
.better-social-counter.style-modern .social-item{
    border-bottom: none;
}
.better-social-counter.style-style-6 .social-item {
    margin-bottom: 5px;
    padding: 10px 0 0 0;
    border-bottom: none;
}
.bs-popular-categories .bs-popular-terms-list {
    padding: 0;
}
.widget.widget_bs-subscribe-newsletter {
    background: #fff;
    padding: 20px !important;
}
.slider-style-5-container {
    padding-bottom: 20px;
}
@media (max-width: 880px) {
    .entry-content .better-studio-shortcode,
    .bs-shortcode,
    .bs-listing {
        margin-bottom: 20px;
        padding: 13px;
    }
    .post-related + .comments-template{
        margin-top: 20px;
    }
    .widget.widget_bs-subscribe-newsletter {
        padding: 13px !important;
    }
    .better-studio-shortcode,
    .betteradscontainer {
        margin-bottom: 30px;
    }
    .listing-mix-6 .listing-item-text {
        margin-bottom: 13px;
    }
}


/**
 * =>Post Templates
 **/
.comments-wrap,
.comment-respond,
.post-related,
.single-container > .post-author,
.author-profile,
.single-page-simple-content,
.post-template-13 .single-container > .post,
.post-template-12 .single-container > .post,
.post-template-11 .single-container > .post,
.post-template-10 .single-container > .post,
.post-template-9 .single-container > .post,
.post-template-8 .single-container > .post,
.post-template-7 .single-container > .post,
.post-template-6 .single-container > .post,
.post-template-5 .single-container > .post,
.post-template-4 .single-container > .post,
.post-template-3 .single-container > .post,
.post-template-2 .single-container > .post,
.post-template-1 .single-container > .post{
    padding: 20px;
    background: #fff;
    border: 1px solid #dedede;
}
.single-container > .post-author{
    border-top: none;
}
.post-template-13 .single-featured{
    margin-left: -20px;
    margin-right: -20px;
}
.post-template-6 .post-header-inner {
    padding: 20px;
    margin: -160px -21px 10px;
    border: 1px solid #dedede;
    border-bottom: none;
}
.post-tp-7-header{
    margin-bottom: 40px;
}
.post-template-13 .comments-template, .post-template-13 .post-related {
    max-width: 856px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 880px) {
    .comments-wrap,
    .comment-respond,
    .post-related,
    .single-container > .post-author,
    .author-profile,
    .single-page-simple-content,
    .post-template-13 .single-container > .post,
    .post-template-12 .single-container > .post,
    .post-template-11 .single-container > .post,
    .post-template-10 .single-container > .post,
    .post-template-9 .single-container > .post,
    .post-template-8 .single-container > .post,
    .post-template-7 .single-container > .post,
    .post-template-6 .single-container > .post,
    .post-template-5 .single-container > .post,
    .post-template-4 .single-container > .post,
    .post-template-3 .single-container > .post,
    .post-template-2 .single-container > .post,
    .post-template-1 .single-container > .post{
        padding: 13px;
    }
    .post-template-13 .single-featured{
        margin-left: 0;
        margin-right: 0;
    }
    .post-template-6 .post-header-inner {
        padding: 13px;
        margin: -160px -13px 10px;
    }
    .post-tp-7-header{
        margin-bottom: 30px;
    }
    .post-template-13 .comments-template,
    .post-template-13 .post-related {
        padding-right: 13px;
        padding-left: 13px;
    }
}



/**
 * =>Footer
 **/
.site-footer .footer-social-icons,
.site-footer .copy-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.footer-instagram-3 .simply-scroll-list li {
    padding: 8px;
    background: #fff;
    border: 1px solid #dedede;
}


/**
 * =>Archive Title
 **/
.archive-title .pre-title span {
    margin-left: 20px;
}
.rtl .archive-title .pre-title span {
    margin-right: 20px;
    margin-left: auto;
}
.archive-title .pre-title {
    margin-left: -21px;
    margin-right: -21px;
}
.archive-title {
    border: 1px solid #dedede;
    border-top: none;
    background: #ffffff;
    padding: 0 20px 13px;
}
.archive-title .pre-title:after {
    top: 0;
    height: 4px;
}
@media (max-width: 880px) {
    .archive-title {
        padding: 0 13px 13px;
    }
    .archive-title .pre-title {
        margin-left: -13px;
        margin-right: -13px;
    }
    .archive-title .pre-title {
        margin-left: -14px;
        margin-right: -14px;
    }
}


/**
 * =>Gallery Slider
 **/
.better-gallery.skin-light .gallery-title {
    background-color: #f7f7f7;
    border: 1px solid #dedede;
}
.better-gallery.skin-light .fotorama__wrap {
    background: #ffffff;
    border: 1px solid #dedede;
    border-top: none;
    box-shadow: none;
}
.better-gallery.skin-light .fotorama__nav-wrap {
    background-color: #f7f7f7;
    box-shadow: none;
    border-top: 1px solid #dedede;
}


/**
 * =>bbPress
 **/
#bbpress-forums > ul{
    background: #fff;
    border: 1px solid #dedede;
}
#bbpress-forums li.bbp-header {
    border-bottom: 1px solid #e6e6e6;
    border-top: 4px solid #434343;
    background: #fff;
}
.section-heading.forum-section-heading{
    margin: 0 0 20px;
    background: #fff;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
div.bbp-template-notice, div.indicator-hint {
    background-color: #fff;
}
#bbpress-forums fieldset.bbp-form {
    border: 1px solid #dedede;
    padding: 20px;
    margin-bottom: 10px;
    background: #fff;
}
#bbpress-forums fieldset.bbp-form legend{
    width: 106%;
    padding: 10px 20px ;
    font-size: 16px;
    color: #333;
    border: 1px solid #dedede;
    border-top: 4px solid #444444;
    background: #fff;
    margin: 0 -21px;
}
#bbpress-forums li.bbp-body ul.topic:last-child,
#bbpress-forums li.bbp-body ul.topic {
    padding: 15px 15px;
}
li.bbp-body div.hentry {
    padding: 15px 15px 0 !important;
}
#bbpress-forums div.bbp-reply-content {
    padding: 0;
}
#bbpress-forums div.bbp-reply-author img.avatar {
    margin: 0 auto 12px;
}
#bbpress-forums .bbp-reply-ip,
#bbpress-forums div.bbp-forum-author .bbp-author-role, #bbpress-forums div.bbp-topic-author .bbp-author-role, #bbpress-forums div.bbp-reply-author .bbp-author-role{
    text-align: center;
}
#bbpress-forums div.bbp-forum-author, #bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
    text-align: left;
}
.rtl #bbpress-forums div.bbp-forum-author, #bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
    text-align: right;
}
div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header, li.bbp-body div.hentry {
    padding: 8px 15px;
}
div.bbp-reply-header:last-child{
    border-bottom: none;
}
.bbp-pagination {
    margin-bottom: 20px;
    padding: 7px 15px;
    border: 1px solid #dedede;
    background: #fff;
}
#bbpress-forums #bbp-search-form {
    margin-bottom: 25px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-top: 4px solid #444;
    position: relative;
}
#bbpress-forums #bbp-search-form:before{
    content: '';
    left: -1px;
    right: -1px;
    top: -4px;
    height: 4px;
    background: #444;
    display: inline-block;
    position: absolute;
}
#bbpress-forums li.bbp-forum-info .bbp-forum-title {
    margin-bottom: 5px;
}
#bbpress-forums .bbp-forums-list {
    margin-top: 7px;
}
#bbpress-forums li.bbp-body ul.forum:last-child {
    margin-bottom: 10px;
}
.section-heading.forum-section-heading .h-text{
    text-transform: capitalize;
}
@media (max-width: 880px) {
    #bbpress-forums fieldset.bbp-form {
        padding: 13px;
    }
    #bbpress-forums fieldset.bbp-form legend{
        width: 106%;
        padding: 10px 13px ;
        font-size: 16px;
        color: #333;
        border: 1px solid #dedede;
        border-top: 4px solid #444444;
        background: #fff;
        margin: 0 -21px;
    }
    #bbpress-forums #bbp-search-form {
        margin-bottom: 20px;
        padding: 13px;
    }
}


/**
 * =>WooCommerce
 **/
.wc-loop-heading{
    padding: 20px 20px 7px;
    background: #fff;
    border: 1px solid #DEDED9;
    border-bottom: none;
}
.wc-loop-heading + .wc-products-list{
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
}
.wc-products-list{
    padding: 20px 20px 0;
    border: 1px solid #dedede;
    background: #fff;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin-bottom: 25px;
}
.wc-products-list + .wc-pagination{
    margin-top: 20px;
}
.wc-product-header{
    padding: 20px 20px 0;
    background: #fff;
    border:1px solid #dedede;
}
.woocommerce div.product div.images,
.woocommerce div.product div.summary {
    margin-bottom: 20px;
}
.woocommerce div.product div.images div.thumbnails {
    padding-top: 0;
}
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
    margin-bottom: 0;
    margin-top: 15px;
}
.woocommerce #respond input#submit, .woocommerce a.button {
    color: #fff;
}
.woocommerce-page div.product .woocommerce-tabs{
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #dedede;
    background: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    padding: 4px 15px 0;
    margin: -21px -20px 20px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before{
    display: block !important;
    border-bottom-color: #eee;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:after {
    display: block !important;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text{
    border-radius: 0;
}
.woocommerce-page div.product .related.products{
    margin-top: 30px;
    padding: 20px 20px 0;
    border: 1px solid #dedede;
    background: #fff;
}
.woocommerce-page div.product .related.products .wc-products-list{
    padding: 0;
    border: none;
}
.woocommerce-page div.product .related.products .wc-products-list .products{
    margin-bottom: 0;
}
.woocommerce div.product .woocommerce-tabs .panel{
    margin-bottom: 0;
    border-bottom: none;
    box-shadow: none;
    padding-bottom: 0;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar{
    background: #fff;
}
.woocommerce-MyAccount-navigation,
.wc-account-content-wrap,
.order-customer-adress-wrap,
.order-customer-detail,
.order-detail-wrap,
.woocommerce-checkout-review-order-wrap,
.woocommerce-shipping-fields,
.woocommerce-billing-fields,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .cross-sells,
.wc-cart{
    padding: 20px 20px 0;
    border: 1px solid #dedede;
    background: #fff;
}
.wc-account-content-wrap{
    margin-bottom: 30px;
}
.woocommerce-billing-fields,
.woocommerce-shipping-fields{
    padding-bottom: 20px;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .cross-sells{
    margin-top: 30px;
}
.woocommerce .cart-collaterals .cross-sells  .wc-products-list{
    padding: 0;
    border: none;
}
.woocommerce .cart-collaterals .cross-sells  .wc-products-list .products{
    margin-bottom: 0;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message{
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    background: #fff;
    margin-bottom: 20px !important;
}
.woocommerce-checkout-review-order-wrap{
    margin-top: 30px;
    padding-bottom: 20px;
}
.woocommerce form.woocommerce-ResetPassword,
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: 1px solid #dedede;
    background: #fff;
    border-radius: 0;
    margin: 0 0 30px;
}
.woocommerce form.woocommerce-ResetPassword{
    padding: 20px;
}
.woocommerce form.checkout_coupon p{
    margin-bottom: 0;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #f5f5f5;
    border-radius: 0;
    border: 1px solid #dedede;
}
.order-thanks-wrap{
    padding: 25px;
    border: 1px solid #dedede;
    background: #fff;
    margin-bottom: 30px;
}
.woocommerce .order-thanks-wrap .woocommerce-thankyou-order-received:last-child,
.woocommerce .order-thanks-wrap .order_details:last-child{
    margin-bottom: 0;
}
.order-customer-detail,
.order-detail-wrap{
    margin-bottom: 30px;
}
.section-heading.woocommerce-Address-title.title:after{
    display: block;
}
.woocommerce-account .addresses .title .edit {
    margin-top: 12px;
    font-size: 14px;
}
.site-header .shop-cart-container .cart-box:after {
    height: 2px;
    top: -2px;
}
.bs-listing .wc-products-list{
    padding: 0;
    border: none;
    background: transparent;
}
.bs-shortcode.bs-heading-shortcode + .woocommerce > .wc-products-list{
    border-top: none;
    padding-top: 0;
}
.woocommerce + .woocommerce,
.woocommerce + .bs-shortcode{
    margin-top: 30px;
}
.bs-listing.bs-listing-products .bs-slider-controls, .bs-listing.bs-listing-products .bs-pagination {
    margin-top: -20px;
}
@media (max-width: 880px) {
    .wc-loop-heading{
        padding: 13px 13px 5px;
    }
    .wc-products-list{
        padding: 13px 13px 0;
    }
    .wc-product-header{
        padding: 13px 13px 0;
    }
    .woocommerce-page div.product .woocommerce-tabs{
        margin-top: 20px;
        padding: 13px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs{
        padding: 4px 15px 0;
        margin: -14px -14px 13px;
    }
    .woocommerce-MyAccount-navigation,
    .wc-account-content-wrap,
    .order-customer-adress-wrap,
    .order-customer-detail,
    .order-detail-wrap,
    .woocommerce-checkout-review-order-wrap,
    .woocommerce-shipping-fields,
    .woocommerce-billing-fields,
    .woocommerce .cart-collaterals .cart_totals,
    .woocommerce .cart-collaterals .cross-sells,
    .wc-cart{
        padding: 13px 13px 0;
    }
    .wc-account-content-wrap{
        margin-bottom: 23px;
    }
    .woocommerce-billing-fields,
    .woocommerce-shipping-fields{
        padding-bottom: 15px;
    }
    .woocommerce .cart-collaterals .cart_totals,
    .woocommerce .cart-collaterals .cross-sells{
        margin-top: 23px;
    }
    .order-customer-detail,
    .order-detail-wrap{
        margin-bottom: 23px;
    }
    .woocommerce + .woocommerce,
    .woocommerce + .bs-shortcode{
        margin-top: 23px;
    }
    .bs-listing.bs-listing-products .bs-slider-controls,
    .bs-listing.bs-listing-products .bs-pagination {
        margin-top: -13px;
    }
}


/**
 * =>Visual Composer
 **/
.vc_row[data-vc-full-width] .bs-listing-slider-1.bs-listing:last-child,
.vc_row[data-vc-full-width] .bs-listing-slider-2.bs-listing:last-child,
.vc_row[data-vc-full-width] .bs-listing-slider-3.bs-listing:last-child{
    margin-bottom: 20px;
}
.wpb_single_image,
.wpb_images_carousel > .wpb_wrapper > .vc_images_carousel{
    border: 1px solid #dedede;
    background: #fff;
    padding: 20px;
}
.vc_images_carousel .vc_carousel-control .icon-next, .vc_images_carousel .vc_carousel-control .icon-prev {
    margin-top: -25px;
}
.vc_images_carousel .vc_carousel-control.vc_right.vc_right {
    right: 25px;
}
.rtl .vc_images_carousel .vc_carousel-control.vc_right.vc_right {
    left: 25px;
    right: auto;
}
.vc_images_carousel .vc_carousel-control.vc_left.vc_left {
    left: 25px;
}
.rtl .vc_images_carousel .vc_carousel-control.vc_left.vc_left {
    right: 25px;
    left: auto;
}
.vc_images_carousel .vc_carousel-indicators.vc_carousel-indicators {
    bottom: 35px;
}
.wpb_gallery > .wpb_wrapper > .wpb_flexslider{
    padding: 20px;
    background: #fff;
    border: 1px solid #dedede;
}
@media (max-width: 880px) {
    .wpb_single_image,
    .wpb_images_carousel > .wpb_wrapper > .vc_images_carousel{
        padding: 13px;
    }
    .vc_images_carousel .vc_carousel-control.vc_right.vc_right {
        right: 18px;
    }
    .rtl .vc_images_carousel .vc_carousel-control.vc_right.vc_right {
        right: auto;
        left: 18px;
    }
    .vc_images_carousel .vc_carousel-control.vc_left.vc_left {
        left: 18px;
    }
    .rtl .vc_images_carousel .vc_carousel-control.vc_left.vc_left {
        left: auto;
        right: 18px;
    }
    .vc_images_carousel .vc_carousel-indicators.vc_carousel-indicators {
        bottom: 28px;
    }
    .wpb_gallery > .wpb_wrapper > .wpb_flexslider{
        padding: 13px;
    }
}


/**
 * =>Attachment
 **/
.single-attachment-content{
    padding: 20px 20px 10px;
    border: 1px solid #dedede;
    background: #fff;
}
.single-attachment-content .parent-images{
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
}
@media (max-width: 880px) {
    .single-attachment-content{
        padding: 13px 13px 6px;
    }
    .single-attachment-content .parent-images{
        padding-top: 13px;
    }
}
