/*

Publisher
    |-> Style Default
        |-> Video Demo

*** TABLE OF CONTENTS:
    =>Colors
    =>General Styles
    =>Headers
    =>Section and Widget
    =>Blocks
    =>Archive Title
    =>WooCommerce
*/


/**
 * =>Colors
 **/
.main-bg-color,
.btn,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="button"],
.btn:focus,
.btn:hover,
button:focus,
button:hover,
html input[type="button"]:focus,
html input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="button"]:focus,
input[type="button"]:hover,
.main-menu.menu .sub-menu li.current-menu-item:hover > a:hover,
.main-menu.menu .better-custom-badge,
.widget.widget_nav_menu .menu .better-custom-badge,
.responsive-header .menu-container .resp-menu .better-custom-badge,
.bs-popular-categories .bs-popular-term-item:hover .term-count,
.widget.widget_tag_cloud .tagcloud a:hover,
span.dropcap.dropcap-square,
span.dropcap.dropcap-circle,
.bs-tab-shortcode .nav-tabs>li>a:focus,
.bs-tab-shortcode .nav-tabs>li>a:hover,
.bs-tab-shortcode .nav-tabs>li.active>a,
.better-control-nav li a.better-active,
.better-control-nav li:hover a,
.main-menu.menu > li:hover > a:before,
.main-menu.menu > li.current-menu-parent > a:before,
.main-menu.menu > li.current-menu-item > a:before,
.main-slider .better-control-nav li a.better-active,
.main-slider .better-control-nav li:hover a,
.site-footer.color-scheme-dark .footer-widgets .widget.widget_tag_cloud .tagcloud a:hover,
.site-footer.color-scheme-dark .footer-widgets .widget.widget_nav_menu ul.menu li a:hover,
.entry-terms.via a:hover,
.entry-terms.source a:hover,
.entry-terms.post-tags a:hover,
.comment-respond #cancel-comment-reply-link,
.better-newsticker .heading,
.listing-item-text-1:hover .term-badges.floated .term-badge a,
.term-badges.floated a,
.archive-title .term-badges span.term-badge a:hover,
.post-tp-1-header .term-badges a:hover,
.archive-title .term-badges a:hover,
.listing-item-tb-2:hover .term-badges.floated .term-badge a,
.btn-bs-pagination:hover, .btn-bs-pagination.hover, .btn-bs-pagination.bs-pagination-in-loading,
.bs-slider-dots .bs-slider-active > .bts-bs-dots-btn,
.listing-item-classic:hover a.read-more,
.bs-loading > div,
.pagination.bs-links-pagination a:hover,
.footer-widgets .bs-popular-categories .bs-popular-term-item:hover .term-count,
.footer-widgets .widget .better-control-nav li a:hover,
.footer-widgets .widget .better-control-nav li a.better-active,
.bs-slider-2-item .content-container a.read-more:hover,
.bs-slider-3-item .content-container a.read-more:hover,
.main-menu.menu .sub-menu li.current-menu-item:hover > a,
.main-menu.menu .sub-menu > li:hover > a,
.bs-slider-2-item .term-badges.floated .term-badge a,
.bs-slider-3-item .term-badges.floated .term-badge a,
.listing-item-blog:hover a.read-more,
.bsp-style-1 .bsp-playlist-info,
.bsp-style-2 .bsp-current-item .bsp-video-icon-wrapper,
.back-top,
.site-header .shop-cart-container .cart-handler .cart-count,
.site-header .shop-cart-container .cart-box:after,
.single-attachment-content .return-to:hover .fa,
.listing-item.listing-item-tb-2 .term-badges.floated .term-badge a,
.section-heading .other-link:hover .h-text{
    background-color:#e62929 !important;
}
.main-color,
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus,
.widget.widget_nav_menu ul.menu li > a:hover,
.widget.widget_nav_menu .menu .better-custom-badge,
.widget.widget_recent_comments a:hover,
.bs-popular-categories .bs-popular-term-item,
.main-menu.menu .sub-menu li.current-menu-item > a,
.bs-about .about-link a,
.comment-list .comment-footer .comment-reply-link:hover,
.comment-list li.bypostauthor > article > .comment-meta .comment-author a,
.comment-list li.bypostauthor > article > .comment-meta .comment-author,
.comment-list .comment-footer .comment-edit-link:hover,
.comment-respond #cancel-comment-reply-link,
span.dropcap.dropcap-square-outline,
span.dropcap.dropcap-circle-outline,
ul.bs-shortcode-list li:before,
.bs-accordion-shortcode .panel.open .panel-heading a,
.bs-accordion-shortcode .panel .panel-heading a:hover,
a:hover,
.post-meta a:hover,
.site-header .top-menu.menu > li:hover > a,
.site-header .top-menu.menu .sub-menu > li:hover > a,
.mega-menu.mega-type-link-list .mega-links > li > a:hover,
.mega-menu.mega-type-link-list .mega-links > li:hover > a,
.listing-item .post-footer .post-share:hover .share-handler,
.listing-item-classic .title a:hover,
.single-post-content > .post-author .pre-head a:hover,
.entry-content a,
.site-header .search-container.open .search-handler,
.site-header .search-container:hover .search-handler,
.site-header .shop-cart-container.open .cart-handler,
.site-header .shop-cart-container:hover .cart-handler,
.site-footer .copy-2 a:hover,
.site-footer .copy-1 a:hover,
ul.menu.footer-menu li > a:hover,
.responsive-header .menu-container .resp-menu li:hover > a,
.listing-item-thumbnail:hover .title a,
.listing-item-grid:hover .title a,
.listing-item-blog:hover .title a,
.listing-item-classic:hover .title a,
.better-newsticker ul.news-list li a:hover,
.better-newsticker .control-nav span:hover,
.listing-item-text-1:hover .title a,
.post-meta a:hover,
.pagination.bs-numbered-pagination > span,
.pagination.bs-numbered-pagination .wp-pagenavi a:hover,
.pagination.bs-numbered-pagination .page-numbers:hover,
.pagination.bs-numbered-pagination .wp-pagenavi .current,
.pagination.bs-numbered-pagination .current,
.listing-item-text-2:hover .title a,
.section-heading a:hover,
.bs-popular-categories .bs-popular-term-item:hover,
.listing-mg-5-item:hover .title,
.listing-item-tall:hover > .title{
    color:#e62929;
}
.footer-widgets .widget a:hover,
.bs-listing-modern-grid-listing-5 .listing-mg-5-item:hover .title a:hover,
.bs-listing-modern-grid-listing-5 .listing-mg-5-item:hover .title a{
    color:#e62929 !important;
}
textarea:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="color"]:focus,
input[type="text"]:focus,
.widget.widget_nav_menu .menu .better-custom-badge:after,
.widget.widget_bs-theme-subscribe-newsletter .bs-subscribe-newsletter form .feedburner-email:focus,
.better-gallery .fotorama__thumb-border,
span.dropcap.dropcap-square-outline,
span.dropcap.dropcap-circle-outline,
.bs-tab-shortcode .nav.nav-tabs,
.bs-tab-shortcode .tab-content .tab-pane,
.bs-accordion-shortcode .panel.open .panel-heading+.panel-collapse>.panel-body,
.bs-accordion-shortcode .panel.open,
.comment-respond textarea:focus,
.better-newsticker .control-nav span:hover,
.archive-title .term-badges a:hover,
.listing-item-text-2 .item-inner,
.btn-bs-pagination:hover, .btn-bs-pagination.hover, .btn-bs-pagination.bs-pagination-in-loading,
.bs-slider-2-item .content-container a.read-more,
.bs-slider-3-item .content-container a.read-more,
.pagination.bs-links-pagination a:hover,
.bsp-style-1 li.bsp-current-item .bsp-video-thumbnail,
.bsp-style-2 .bsp-current-item .bsp-video-thumbnail,
.bs-subscribe-newsletter .feedburner-email:focus,
body.active-top-line .main-wrap,
.entry-content blockquote.bs-pullquote{
    border-color:#e62929;
}
.main-menu.menu .better-custom-badge:after{
    border-top-color:#e62929;
}
.bsp-style-1 li.bsp-current-item .bsp-video-index::after{
    border-left-color:#e62929;
}
::selection{
    background:#e62929;
}
::-moz-selection{
    background:#e62929;
}
#bbpress-forums li.bbp-forum-info.single-forum-info .bbp-forum-title:before,
#bbpress-forums .bbp-forums-list li:before,
#bbpress-forums p.bbp-topic-meta .freshness_link a,
#bbpress-forums .bbp-forums-list li a{
    color:#e62929;
}
#bbpress-forums #bbp-search-form #bbp_search_submit,
#bbpress-forums li.bbp-header:before,
#bbpress-forums button.user-submit, .bbp-submit-wrapper button,
#bbpress-forums li.bbp-header:before{
    background-color:#e62929;
}
.better-gcs-result .gsc-result .gs-title:hover *,
.better-gcs-result .gsc-result .gs-title:hover,
.better-gcs-result .gsc-results .gsc-cursor-box .gsc-cursor-current-page,
.better-gcs-result .gsc-results .gsc-cursor-box .gsc-cursor-page:hover{
    color:#e62929;
}
.rating-bar span,
.betterstudio-review .verdict .overall{
    background-color: #e62929;
}
.rating-stars span:before {
    color: #e62929;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce span.onsale,
.woocommerce #respond input#submit:hover,
.woocommerce a.button.added,
.woocommerce a.button.loading,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
    background-color: #e62929 !important;
}
.woocommerce  .woocommerce-Reviews .star-rating,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce div.product .woocommerce-product-rating,
.woocommerce ul.products li.product .price,
.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-MyAccount-navigation ul li a:hover{
    color: #e62929 !important;
}
.site-header .top-menu.menu > li > a,
.topbar .better-newsticker ul.news-list li a,
.topbar .better-newsticker .control-nav span{
    color:#9c9c9c;
}
.site-header .top-menu.menu > li:hover > a,
.site-header .top-menu.menu .sub-menu > li:hover > a,
.topbar .better-newsticker ul.news-list li a{
    color:#ffffff !important;
}
.site-header.full-width .topbar{
    background-color:#2b2b2b;
}
.site-header.boxed .topbar .topbar-inner{
    background-color:#2b2b2b; padding-left:15px; padding-right:15px;
}
.site-header.full-width .topbar,
.site-header.boxed .topbar .topbar-inner{
    border-color:#1d1d1d;
}
.topbar .better-social-counter.style-button .social-item .item-icon{
    color:#ffffff;
}
.topbar .better-social-counter.style-button .social-item:hover .item-icon{
    color:#ffffff;
}
.topbar .better-social-counter.style-button .social-item .item-icon{
    background:#e62929;
}
.topbar .better-social-counter.style-button .social-item:hover .item-icon{
    background:#d61a1a;
}
body.active-top-line .main-wrap{
    border-color:#434343 !important;
}
.site-header.boxed .main-menu-wrapper .main-menu-container,
.site-header.full-width .main-menu-wrapper {
    border-top-color: #232323;
}
.site-header.header-style-1.boxed .main-menu-wrapper .main-menu-container,
.site-header.header-style-1.full-width .main-menu-wrapper,
.site-header.header-style-1 .better-pinning-block.pinned.main-menu-wrapper .main-menu-container{
    border-bottom-color:#232323 !important;
}
.site-header.header-style-2.boxed .main-menu-wrapper .main-menu-container,
.site-header.header-style-2.full-width .main-menu-wrapper,
.site-header.header-style-2 .better-pinning-block.pinned.main-menu-wrapper .main-menu-container{
    border-bottom-color:#232323 !important;
}
.site-header.header-style-3.boxed .main-menu-container,
.site-header.full-width.header-style-3 .main-menu-wrapper{
    border-bottom-color:#232323 !important;
}
.site-header.header-style-4.boxed .main-menu-container,
.site-header.full-width.header-style-4 .main-menu-wrapper{
    border-bottom-color:#232323 !important;
}
.site-header.header-style-5.boxed .header-inner,
.site-header.header-style-5.full-width,
.site-header.header-style-5.full-width > .bs-pinning-wrapper > .content-wrap.pinned{
    border-bottom-color:#232323;
}
.site-header.header-style-6.boxed .header-inner,
.site-header.header-style-6.full-width,
.site-header.header-style-6.full-width > .bs-pinning-wrapper > .content-wrap.pinned{
    border-bottom-color:#232323;
}
.site-header.header-style-7.boxed .main-menu-container,
.site-header.full-width.header-style-7 .main-menu-wrapper{
    border-bottom-color:#232323 !important;
}
.site-header.header-style-8.boxed .header-inner,
.site-header.header-style-8.full-width,
.site-header.header-style-8.full-width > .bs-pinning-wrapper > .content-wrap.pinned{
    border-bottom-color:#232323;
}
.site-header .shop-cart-container .cart-handler,
.site-header .search-container .search-handler,
.site-header .main-menu > li > a{
    color:#ffffff;
}
.site-header.boxed .main-menu-wrapper .main-menu-container,
.site-header.full-width .main-menu-wrapper,
.site-header.full-width.header-style-6,
.site-header.full-width.header-style-5,
.bs-pinning-block.pinned.main-menu-wrapper .main-menu-container,
.site-header.header-style-5 > .content-wrap > .bs-pinning-wrapper > .bs-pinning-block,
.site-header.header-style-6 > .content-wrap > .bs-pinning-wrapper > .bs-pinning-block{
    background-color:#2f2f2f;
}
.site-header.header-style-6.boxed .header-inner,
.site-header.header-style-5.boxed .header-inner{
    background-color:#2f2f2f; padding-left: 20px; padding-right: 20px;
}
.site-header.header-style-1,
.site-header.header-style-2,
.site-header.header-style-3,
.site-header.header-style-4,
.site-header.header-style-5 > .bs-pinning-wrapper > .bs-pinning-block,
.site-header.header-style-6,
.site-header.header-style-6 > .content-wrap > .bs-pinning-wrapper > .bs-pinning-block,
.site-header.header-style-7,
.site-header.header-style-8,
.site-header.header-style-8 > .content-wrap > .bs-pinning-wrapper > .bs-pinning-block{
    background-color:#2f2f2f;
}
.slider-style-15-container .listing-mg-5-item-big .content-container,
.slider-style-15-container,
.slider-style-13-container,
.slider-style-11-container,
.slider-style-9-container,
.slider-style-7-container,
.slider-style-4-container.slider-container-1col,
.slider-style-3-container,
.slider-style-5-container,
.slider-style-2-container.slider-container-1col,
.slider-style-1-container{
    background-color:#292929 !important; margin-bottom: 0;
}
.widget .widget-heading:after,
.widget .widget-heading > .h-text{
    background-color:#2d2d2d;
}
.section-heading.multi-tab .main-link.active .h-text,
.section-heading.multi-tab .active > .h-text,
.section-heading.multi-tab:after,
.section-heading:after,
.section-heading .h-text,
.section-heading .other-link:hover .h-text{
    background-color:#2d2d2d;
}
.bs-pretty-tabs-container:hover .bs-pretty-tabs-more.other-link .h-text,
.section-heading .bs-pretty-tabs-more.other-link:hover .h-text.h-text{
    color:#2d2d2d !important;
}



/**
 * =>General
 **/



/**
 * =>Headers
 **/
.site-header .site-branding .logo a{
    color: #fff;
}
.site-header.header-style-5 .main-menu.menu > li:hover > a:before,
.site-header.header-style-5 .main-menu.menu > li.current-menu-parent > a:before,
.site-header.header-style-5 .main-menu.menu > li.current-menu-item > a:before {
    height: 100%;
    height: calc( 100% + 1px );
    bottom: initial;
    top: 0;
    z-index: -1;
}
.site-header.header-style-5 .main-menu.menu > li > a{
    z-index: 1;
}
.main-menu.menu > li:hover > a{
    color: #fff;
}
.site-header.header-style-5 .main-menu.menu {
    height: 69px;
}
.site-header.header-style-5 .main-menu > li > a {
    line-height: 68px;
}
.site-header.header-style-5 .site-branding .logo {
    line-height: 65px;
}
.site-header.header-style-5 .site-branding .logo.img-logo a{
    line-height: 68px;
    height: 68px;
}
.site-header.header-style-5 .main-menu-container.search-open .search-container {
    line-height: 68px;
}
.site-header.header-style-5 .search-container .search-box .search-form .search-field {
    height: 68px;
}
.site-header.header-style-5 .main-menu.menu > li.menu-item-has-children > a:after,
.site-header.header-style-6 .main-menu.menu > li.menu-item-has-children > a:after,
.site-header.header-style-8 .main-menu.menu > li.menu-item-has-children > a:after {
    color: rgba(255, 255, 255, 0.39);
}
.main-menu.menu > li .sub-menu,
.menu .mega-menu {
    top: 102%;
    background-color: #383838;
    top: calc( 100% + 1px );
}
.tabbed-grid-posts:before {
    background-color: #313131;
    border-right-color: #272727;
}
.rtl .tabbed-grid-posts:before {
    border-right-color: transparent;
    border-left-color: #272727;
}
.tabbed-grid-posts .tabs-section .active a {
    border-color: #272727;
    background: #383838;
}
.main-menu.menu .sub-menu > li > a,
.main-menu.menu .sub-menu > li{
    color: #fff;
}
.tabbed-grid-posts .tabs-section a:hover,
.tabbed-grid-posts .tabs-section a,
.main-menu.menu .sub-menu > li > a:hover{
    color: #fff !important;
}
.site-header .listing-item-grid-1 .title a {
    color: #fff;
}
.mega-menu.mega-type-link .mega-links > li > a {
    color: #ffffff;
}
.mega-menu.mega-type-link .mega-links > li > a {
    color: #ffffff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}


/**
 * =>Section and Widget
 **/
.widget .widget-heading:after,
.section-heading:after {
    height: 6px;
    top: 100%;
    left: 0;
    margin-top: -3px;
}
.rtl .widget .widget-heading:after,
.rtl .section-heading:after {
    right: 0;
    left: auto;
}

/**
 * =>Blocks
 **/
.listing-item-tb-2 .term-badges.floated {
    left: 0;
    bottom: 0;
    top: initial;
}
.rtl .listing-item-tb-2 .term-badges.floated {
    right: 0;
    left: auto;
}
.listing-item-tb-2 .post-edit-link {
    bottom: initial;
    left: 0;
    top:0;
}
.rtl .listing-item-tb-2 .post-edit-link {
    right: 0;
    left: auto;
}
.widget.widget_bs-subscribe-newsletter {
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
}


/**
 * =>Archive Title
 **/
.archive-title .pre-title:after,
.archive-title .pre-title span {
    background-color: #2d2d2d;
}
.archive-title .pre-title:after {
    height: 6px;
    margin-top: -3px;
}


/**
 * =>WooCommerce
 **/
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #f5f5f5;
    border-radius: 0;
    border: 1px solid #eee;
}
#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
    border-bottom: 1px solid #e2e2e2;
}
.woocommerce-checkout-review-order-wrap{
    margin-top: 30px;
}
.site-header .shop-cart-container .cart-box {
    background: #383838;
    color: #b3b3b3;
}
.site-header .shop-cart-container .cart-box a{
    color: #fff;
}
.woocommerce .site-header .shop-cart-container .cart-box a.button{
    color: #fff !important;
    background-color: #656565 !important;
}
.site-header.header-style-5 .main-menu-container.show-cart-item .cart-handler {
    line-height: 64px;
}
